body {
	background: #c2e59c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
	
	color: #666;
	font-family: 'Roboto Condensed', sans-serif;
}

/* .login {
	margin: auto;
	margin-top: 5%;
	width: 400px;
	padding: 10px; . heading { text-align : center;
	margin-top: 10%;
	padding: 10px;
}
 */

}


form {
	border: 3px solid #f1f1f1;
}

input[type=text], input[type=password], input[type=submit] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button, input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

input[type=submit]:hover {
	opacity: 0.8;
}

.container {
	padding: 16px;
	width: 90%;
	align-self: center;
}

table, td, th {
	border: 1px solid black;
	width: 450px;
	padding:10px; 
}

table {
	border-collapse: collapse;
}

